body {
  background-image: url("images/image.jpg"); /* Sets the background image of the body */
}
h5 {
  text-align: center;
  color: #ffffff;
  font-size: large;
}
h1 {
  color: #343a40; /* Sets the color of h1 elements */
  text-align: center; /* Centers all h1 elements */
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto; /* Adjusted margin-left to move the buttons to the right */
}
.btn:hover {
  background-color: #1e40af;
}
header img {
  width: 150px;
  margin-right: 100px;
}
nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: right;
  justify-content: space-between;
  gap: 2rem;
  background-color: purple;
}

.nav-logo {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.container {
  margin-top: 20px;
}
footer {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 150px;
  margin-right: 70px;
}
.container button {
  background-image: url("image.jpg");
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container {
  max-width: 800px; /* Sets the maximum width of the container */
  margin: 0 auto; /* Centers the container horizontally */
  flex: 1; /* Allows the container to grow and fill available space */
}
header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #07427c; /* Sets the background color of the footer */
  color: #ffffff; /* Sets the text color of the footer */
  text-align: center; /* Aligns text to the center in the footer */
  padding: 20px; /* Increase the padding to increase the height of the footer */
  margin-top: auto; /* Pushes footer to the bottom of the container */
}

h1 {
  color: #343a40; /* Sets the color of h1 elements */
}

.input-group {
  margin-bottom: 20px; /* Adds margin to the bottom of input groups */
}

.table {
  width: 100%; /* Sets the table width to 100% of its container */
  border-collapse: collapse; /* Collapses the borders of table cells */
}

.table th,
.table td {
  text-align: center; /* Centers the text in table header and data cells */
  white-space: nowrap; /* Prevents wrapping of text in table cells */
  overflow: hidden; /* Hides any overflowing content in table cells */
  text-overflow: ellipsis; /* Displays an ellipsis (...) for overflowed text */
  padding: 8px; /* Adds padding inside table cells */
  border-bottom: 1px solid #ddd; /* Adds a bottom border to table cells */
  border-left: none; /* Removes the left border of table cells */
  border-right: none; /* Removes the right border of table cells */
  color: #48484b; /* Sets the text color for table content */
  background-color: #e5e5eb; /* Sets the background color for table content */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.table th {
  background-color: #07427c; /* Sets the background color for table header cells */
  color: #ffffff; /* Sets the text color for table header cells */
}

.table th:first-child,
.table td:first-child {
  font-weight: bold; /* Sets the font weight to bold for the first column */
}

.table th:not(:first-child),
.table td:not(:first-child) {
  font-weight: normal; /* Sets the font weight to normal for columns other than the first */
}

.table tbody tr:hover td {
  background-color: #7e858d; /* Sets the background color on row hover */
  cursor: pointer; /* Changes cursor to pointer on row hover */
}

.table tbody tr:hover th {
  background-color: #7e858d; /* Sets the background color on row hover for header cells */
}

.table tbody tr:hover td:hover {
  background-color: #7e858d; /* Sets the background color on cell hover */
}

.crypto-logo {
  width: 30px; /* Sets the width of cryptocurrency logos */
  height: 30px; /* Sets the height of cryptocurrency logos */
}

.btn-primary {
  background-color: #07427c; /* Sets the background color of primary buttons */
  border-color: #6c757d; /* Sets the border color of primary buttons */
}

.btn-primary:hover {
  background-color: #5a6268; /* Sets the background color of primary buttons on hover */
  border-color: #5a6268; /* Sets the border color of primary buttons on hover */
}

footer {
  background-color: #07427c; /* Sets the background color of the footer */
  color: #ffffff; /* Sets the text color of the footer */
  text-align: center; /* Aligns text to the center in the footer */
  padding: 20px; /* Increase the padding to increase the height of the footer */
  margin-top: auto; /* Pushes footer to the bottom of the container */
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #ffffff; /* Sets the color of h1 elements in the header */
}

@media only screen and (max-width: 600px) {
  .table th,
  .table td {
    font-size: 12px; /* Sets font size for table cells on small screens */
    padding: 5px; /* Adjusts padding for table cells on small screens */
  }

  header h1 {
    display: block; /* Displays h1 elements as block-level elements */
    height: 15px; /* Sets the height of h1 elements */
    position: absolute; /* Positions h1 elements absolutely */
    right: 17px; /* Aligns h1 elements to the right */
    top: 1px; /* Aligns h1 elements to the top */
    text-rendering: geometricPrecision; /* Renders text with geometric precision */
    z-index: 2147483646; /* Sets the z-index of h1 elements */
    margin: 0;
  }
}
