@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
body {
  background-image: url("images/image.jpg");
  font-family:'Poppins';
}

h5 {
  text-align: center;
  color: #ffffff;
  font-size: large;
}

h1 {
  color: #343a40;
  text-align: center;
}

header img {
  width: 150px;
  margin-right: 20px; /* Adjust the margin as needed */
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: purple;
}

.nav-logo {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: auto; /* Aligns the nav-links to the right */
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #ffffff;
  text-decoration: none; /* Ensure links are not underlined by default */
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #a59019;
  transition: all 0.3s ease;
}

.link a:hover {
  text-decoration: none; /* Ensure links are not underlined on hover */
}

.link a:hover::after {
  width: 70%;
}

.container {
  margin-top: 20px;
  max-width: 800px;
  margin: 0 auto;
  flex: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #18181b;
  color: #ffffff;
}

header h1 {
  flex: 1;
  color: #ffffff;
  text-align: center;
  margin: 0; /* Remove default margin to better center align */
}

.input-group {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  color: #48484b;
  background-color: #e5e5eb;
  transition: background-color 0.3s;
}

.table th {
  background-color: #07427c;
  color: #ffffff;
}

.table th:first-child,
.table td:first-child {
  font-weight: bold;
}

.table th:not(:first-child),
.table td:not(:first-child) {
  font-weight: normal;
}

.table tbody tr:hover td {
  background-color: #7e858d;
  cursor: pointer;
}

.table tbody tr:hover th {
  background-color: #7e858d;
}

.table tbody tr:hover td:hover {
  background-color: #7e858d;
}

.crypto-logo {
  width: 30px;
  height: 30px;
}

.btn-primary {
  background-color: #07427c;
  border-color: #6c757d;
}

.btn-primary:hover {
  background-color: #5a6268;
  border-color: #5a6268;
}

footer {
  background-color: #18181b;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 150px;
  margin-right: 70px;
}

@media only screen and (max-width: 600px) {
  .table th,
  .table td {
    font-size: 12px;
    padding: 5px;
  }

  header h1 {
    display: block;
    height: 15px;
    position: absolute;
    right: 17px;
    top: 1px;
    text-rendering: geometricPrecision;
    z-index: 2147483646;
    margin: 0;
  }
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
}
